@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
width: 100%; /* use this, or not */
margin: auto;
}

footer.footer {
    background-color: #000;
}
